@import "colors_var.styl"
@import "mixins.styl"
@import "media.styl"

h1
  color: blue
.wrapper
  display flex
  min-height 85vh
  flex-direction column
header
  background-color: grey
  .header
    display: flex
    justify-content center
.content
  display: flex
  justify-content center
  flex 1
  background-color: blue
footer
  background-color: grey
  .footer
    display: flex
    justify-content center