h1 {
  color: #0d7db4;
}
.wrapper {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
}
header {
  background-color: #333;
}
header .header {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: #0d7db4;
}
footer {
  background-color: #333;
}
footer .footer {
  display: flex;
  justify-content: center;
}
